.footer {
    width: 100%;
    padding: 10px 0;
    background-color: #f8f8f8;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}