.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.product-img {
    height: 200px;
    object-fit: contain;
    
}